<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>

<style>

    #box{
        width: 90%;
        margin: 2.5em auto 0;
    }

    #header{
        display: flex;
        justify-content:space-between;
    }

    #product-table{
        border: 2px solid black;
    }

    td, th{
        border-left: 2px solid black;
        border-right: 2px solid black;
    }

    #product-header{
        display: flex;
        justify-content:space-between;
        margin: 1em 0;
    }

    #product-form{
        display: none;
        margin-bottom: 1em;
    }
</style>

<body>
    <div id="box">
        <div id="header">
            <div>
                <span>Awesome Shop </span>|<span> Admin Panel (This website is a collboration between Song Selasak and Soth Sopheaparinha, check commit to see who does what task)</span>
            </div>
            <div>
                <span><a href="http://localhost:5000/">Home</a></span>
            </div>
        </div>
        <div>
            <!-- <div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
            </div> -->
            <div>
                <div class="container">
                    <div id="product-header">
                        <div><span>All products in stock</span> </div>
                        <div><button onclick="addProduct()">Add Product</button> </div>
                    </div>
                    <div id="product-form">
                        <form method="POST" action="/api/product">
                            Image: <input type="file" name="image" />
                            Name: <input type="text" name="title" />
                            Quantity: <input type="number" name ="quantity" />
                            Details: <input type="text" name ="description" />
                            In Stock: <input type="text" name ="inStock" />
                            Category:     
                                <select id="category" name="category">
                                <option value="Cloth">Cloth</option>
                                <option value="Bag">Bag</option>
                                <option value="Wallet">Wallet</option>
                                <option value="Electronic">Electronic</option>
                                </select>
                        <button type="submit">Save</button>
                    </div>
           
                    <table class="table table-striped" id="product-table">
                        <thead>
                            <tr>
                                <th></th>
                                <th>Name</th>
                                <th>Quantity</th>
                                <th>Details</th>
                                <th>In Stock</th>
                                <th>Category</th>
                                <th>Actions</th>
                            </tr>
                        </thead>
                        <tbody>
                        <% for(var i=0; i< product.length; i++) {%> 
                            <tr>
                                <td><%= product[i].image %></td>
                                <td><%= product[i].title %></td>
                                <td><%= product[i].quantity %></td>
                                <td><%= product[i].description %></td>
                                <td><%= product[i].inStock %></td>
                                <td><%= product[i].category %></td>
                                <td>Action placeholder</td>
                            </tr>
                            <% } %>
                      </tbody>
                    </table>
                  </div>
            </div>
        </div>
    </div>
</body>
</html>

<script>
    function addProduct(){
        document.getElementById("product-form").style.display = "flex";
    }
</script>